.ant-card-hoverable:hover{
   background-color:  rgba(175, 79, 250 , 0.3);
}
.add-btn {
    position: absolute !important;
    top: 0;
    left: 50%;
    transform: translate(40px, 12px);
    background-color: black !important;
    color: @primary-color !important;
}
.list-avatar {
    margin: auto !important;
}
.ant-card-cover {
    padding: 12px;
}
.ant-divider {
    color: #af4ffa;
}