.ant-card-hoverable:hover{
   background-color:  rgba(175, 79, 250 , 0.3);
}
.add-btn {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(40px, 12px);
    background-color: black;
    color: #af4ffa;
}
.ant-avatar {
    margin: auto;
}
.ant-card-cover {
    padding: 12px;
}
.ant-divider {
    color: #af4ffa;
}