@import '~antd/dist/antd.dark.less';

.app {
  text-align: center;
  min-height: 100vh !important;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// Header
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

//Footer
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid @secondary-color;
  @media all and (min-width: @screen-md) {
    flex-direction: row;
    justify-content: space-between;
  }
}