@import '~antd/dist/antd.dark.less';
@font-face {
  font-family: glacial;
  src: url(./assets/glacial-indifference-regular.otf);
}
.app {
  text-align: center;
  min-height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// Header
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90px;
  @media all and (min-width: @screen-md) {
    height: 100px;
  }
}
h1.header-title {
  font-size: 36px;
  margin: 0;
  padding: 12px 0;
  @media all and (min-width: @screen-sm) {
    font-size: 36px;
  }
  @media all and (min-width: @screen-md) {
    font-size: 48px;
  }
}

//Footer
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media all and (min-width: @screen-md) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer-divider {
  margin: 0;
  color: @primary-color;
}